@import "../../00-base/breakpoints.css";

.skill-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 40%;

  @media (--medium) {
    flex-direction: row;
    flex: 0 1 100%;
    margin-bottom: 5.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .skill:last-child {
    .skill__connect {
      display: none;
    }
  }
}

.skill-tree__heading {
  padding: 0 1rem;

  @media (--medium) {
    position: relative;
    margin-bottom: 0;
    top: -0.4rem;
    left: -0.2rem;
    padding: 0 2.8rem 0 0;
  }

  @media (--large) {
    padding-right: 4.2rem;
  }
}
